body{
  background-color:  #ffff66; /* Colore di sfondo del form */
  padding: 20px; /* Spaziatura interna del form */
  border-radius: 5px; /* Bordo arrotondato del form */
}

/* Stile per le etichette dei campi del form */
form{
  display: block; /* Visualizza l'etichetta su una nuova riga */
  font-weight: bold; /* Grassetto per l'etichetta del campo */
  margin-bottom: 10px; /* Spaziatura inferiore per l'etichetta del campo */
}


form input[type="text"]{
  display: block; /* Visualizza il campo su una nuova riga */
  width: 10%; /* Imposta la larghezza del campo al 100% del contenitore */
  padding: 10px; /* Spaziatura interna del campo */
  border: none; /* Rimuove il bordo predefinito */
  border-radius: 5px; /* Bordo arrotondato per il campo */
  box-shadow: 5px 5px 5px #dedede; /*0 0 5px rgba(0, 0, 0, 0.1);  Ombra per il campo */
  margin-bottom: 20px; /* Spaziatura inferiore per il campo */
}	

/* Stile per il pulsante di invio del form */
form input[type="submit"]{
  background-color: #ffd500; /* Colore di sfondo del pulsante */
  color: black; /* Colore del testo del pulsante */
  padding: 10px 20px; /* Spaziatura interna del pulsante */
  border: none; /* Rimuove il bordo predefinito */
  border-radius: 5px; /* Bordo arrotondato per il pulsante */
  cursor: pointer; /* Mostra il cursore a forma di mano quando si passa sopra il pulsante */
}